caratulaPelicula {
    margin-left: 27%;
    background-image: url(Ejercicio4.png);
    background-repeat: no-repeat;
    background-size: 65%;
    padding: 1%;
    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

titulo {
    color: purple;
    display: none;
}

imagenCaratula {
    display: none;
}

director {
    display: none;
}

actoresPrincipales {
    display: flex;
    justify-content: space-between;
    width: 64%;
    font-weight: bolder;
}

actor nombre, apellido{
    display: flex;
    justify-content: center;
}

fraseCaratula {
    font-size: 136%;
    width: 70%;
    color: rgb(199, 177, 55);
    text-shadow: 2px 1px white;
}